#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

/* VoiceSignup.css */

.voice-signup-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

.button-container {
    margin-top: 20px;
}

button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #525252;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #3700b3;
}

audio {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}
